
<script src="/js/jquery.form-validator.min.js"></script>

  <form enctype="multipart/form-data" id="form-create-role" accept-charset="UTF-8"
        action="escom_refill" method="POST"><input type="hidden">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

    <%= hidden_field_tag :tower_id, @tower.id -%>

    <div class="form-group">
      <label for="name">Tower name</label>
      <input type="text" id="name" name="name"  disabled='disabled'
          class="form-control" data-validation="required" value="<%= @tower.name%>">
    </div>

    <div class="form-group">
      <label for="previous_reading_date">Previous reading date</label>
      <input  disabled='disabled' type="text" id="previous_reading_date" name="previous_reading_date" 
        class="form-control" value="<%= @prev_refill.refill_date.strftime('%d/%b/%Y') rescue 'N/A' %>">
    </div>

    <div class="form-group">
      <label for="previous_reading">Previous reading after refill</label>
      <input  disabled='disabled' type="text" id="previous_reading" name="previous_reading" 
          class="form-control" value="<%= @prev_refill.reading_after_refill rescue 'N/A'%>">
    </div>

    <div class="form-group">
    <label for="reading">Current refill date</label>
    <input type="date" id="refill_date" name="refill_date" 
       data-validation="required"  class="form-control" value="<%= @refill.refill_date %>">
    </div>

    <div class="form-group">
      <label for="reading_before_refill">New reading before refill (Units)</label>
      <input type="text" id="reading_before_refill" name="reading_before_refill" 
          data-validation="required"  

          class="form-control" value="<%= @refill.reading_before_refill rescue nil %>">
    </div>

    <div class="form-group">
    <label for="reading">Refill amount (Units)</label>
    <input type="text" id="refill_amount" name="refill_amount" 
        data-validation="required"  
        class="form-control" value="<%= @refill.refill_amount %>">
    </div>

    <div class="form-group">
    <label for="final_reading">Reading after refill (Units)</label>
    <input type="text" id="final_reading" name="reading_after_refill" 
        data-validation="required"  
        class="form-control" value="<%= @refill.reading_after_refill %>">
    </div>


    <div class="form-group actions-row">
      <button type="button submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>

  </form>

<script>
    $.validate({
        modules : 'security',
        onError : function(){

        }
    });

</script>
